#body {
  font-family: Vollkorn;
  width: 80%;
  margin: auto;
  background-color: #efe4d0;
  color: #6e3e32;
}
body {
  font-family: Vollkorn;
  width: 70%;
  background-color: #dcbba2;
}
tr,
td,
th {
  border: 5px solid #77978e;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}
img {
  margin: auto;
  display: block;
}
th {
  background-color: #d84b3c;
}
